<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anita.anitamotorcycle">
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 写入外部存储，允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 请求网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 百度地图 -->
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 更改wifi连状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 进行网络定位，获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 访问GPS定位，获取精确gps位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/welcome"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities2.Main2Activity"></activity>
        <activity android:name=".activities2.Login2Activity" />
        <activity android:name=".activities.LocationActivity" />
        <activity android:name=".activities.GetLocationActivity" />
        <activity android:name=".activities.QRCodeActivity" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="q76yy8mgZcgRXOAitQURv7gsiGLSSmHT" /> <!-- 添加百度地图appkey -->
        <activity android:name=".activities.BaiduActivity" />
        <activity
            android:name=".activities.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- 添加百度地图服务 -->
        <activity android:name=".activities.AddMotorInfoActivity" />
        <activity android:name=".activities.BindFirstActivity" />
        <activity android:name=".activities.RepairDetailsActivity" />
        <activity android:name=".activities2.OrdersDetailsActivity" />
        <activity android:name=".activities2.TodoOrdersActivity" />
        <activity android:name=".activities2.OrdersRecordActivity" />
        <activity android:name=".activities.MotorDetailsActivity" />
        <activity android:name=".activities.AddMotorNumActivity" />
        <activity android:name=".activities.AddMotorActivity" />
        <activity android:name=".activities.RepairRecordActivity" />
        <activity android:name=".activities.RepairApplicationActivity" />
        <activity android:name=".activities.MyMotorActivity" />
        <activity android:name=".activities.SetPasswordActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.MeActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>